<launch>

  <arg name="use_urdf" default="true"/>
  <arg name="kinova_robotSerial" default="not_set"/>
  <arg name="feedback_publish_rate" default="0.1"/>
  <arg name="arm" default="not_set"/>

  <node name="right_driver" pkg="kinova_driver" type="kinova_arm_driver" output="screen" cwd="node" args="j2n6s300">
    <param name="serial_number" value="PJ00000001030703133"/>
    <param name="robot_name" value="right"/>   
    <param name="robot_type" value="j2n6s300"/>   
    <param name="use_jaco_v1_fingers" value="false"/>   
    <param name="status_interval_seconds" value="$(arg feedback_publish_rate)"/>
  </node>

  <group unless="$(arg use_urdf)">
    <node name="right_tf_updater" pkg="kinova_driver" type="kinova_tf_updater" output="screen" cwd="node" args="j2n6s300">
      <remap from="/right_tf_updater/in/joint_angles" to="/right_driver/out/joint_angles"/>
      <param name="right_base_frame" value="root"/>
    </node>
  </group>

  <group if="$(arg use_urdf)">
    <param name="robot_description" command="$(find xacro)/xacro.py '$(find jaco2_driver)/urdf/j2n6s300.urdf.xacro'" />
    <node name="right_state_publisher"
           pkg="robot_state_publisher"
          type="robot_state_publisher">
      <remap from="joint_states" to="/right_driver/out/joint_state"/>
    </node>
  </group>

</launch>
